google-generativeai
dotenv
email_validator
Pillow
captcha
streamlit-js-eval
python-Levenshtein
azure-cognitiveservices-speech
pydub
audioop-lts
streamlit-webrtc
streamlit-drawable-canvas
ultralytics
opencv-python
libgl1-mesa-glx
libglib2.0-0